@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kreon:wght@300;400;500;600;700&family=Permanent+Marker&display=swap');

body {
    background-image: url(https://images.pexels.com/photos/842682/pexels-photo-842682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

main#container {
    background-color: #ffc0cbc7;
    border: 7px solid #e03d59;
    border-radius: 2%;
    box-shadow: 15px 15px 8px -8px rgba(0, 0, 0, 0.61);
    padding: 110px 110px 110px 110px;
    height: 200px;
    max-width: 500px;
}

h1.titulo {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
    color: #e7082d;
    letter-spacing: 2px;
    word-spacing: -3px;
}

p.frase {
    font-family: 'Indie Flower', cursive;
    font-size: 1.6em;
}

p.autor {
    font-family: 'Kreon', serif;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    color: #e7082d;
}